In [1]:
import pandas as pd
import numpy as np

In [9]:
t = pd.read_csv('test.csv')
print(t.tail())
print(t.shape)

print(t[t.keyword.isna() == False].shape)
t.keyword.unique()
print(len(t.keyword.unique()))

id keyword location  \
3258  10861     NaN      NaN
3259  10865     NaN      NaN
3260  10868     NaN      NaN
3261  10874     NaN      NaN
3262  10875     NaN      NaN

                                                   text
3258  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  Storm in RI worse than last hurricane. My city...
3260  Green Line derailment in Chicago http://t.co/U...
3261  MEG issues Hazardous Weather Outlook (HWO) htt...
3262  #CityofCalgary has activated its Municipal Eme...
(3263, 4)
(3237, 4)
222

In [5]:
s = pd.read_csv('sample_submission.csv')

In [6]:
s.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [2]:
ds = pd.read_csv('train.csv', index_col='id')

In [3]:
ds.shape

(7613, 4)

In [4]:
ds.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [5]:
ds.reset_index(drop=True, inplace=True)

In [6]:
ds.shape

(7613, 4)

In [7]:
print(ds[ds.keyword.isna() == False].shape)
ds.keyword.unique()
print(len(ds.keyword.unique()))

(7552, 4)
222

In [8]:
ds.dropna(subset=['keyword'], inplace=True)

In [9]:
print(ds[ds.location.isna() == False].shape)
print(ds.location.unique()[:100])
print(len(ds.location.unique()))

(5080, 4)
['Birmingham' 'Est. September 2012 - Bristol' 'AFRICA' 'Philadelphia, PA'
 'London, UK' 'Pretoria' 'World Wide!!' nan 'Paranaque City'
 'Live On Webcam' 'milky way' 'GREENSBORO,NORTH CAROLINA' 'England.'
 'Sheffield Township, Ohio' 'India' 'Barbados' 'Anaheim' 'Abuja' 'USA'
 'South Africa' 'Sao Paulo, Brazil' 'hollywoodland '
 'Edmonton, Alberta - Treaty 6' 'Inang Pamantasan'
 'Twitter Lockout in progress' 'Concord, CA' 'Calgary, AB' 'San Francisco'
 'CLVLND' 'Nashville, TN' 'Santa Clara, CA' 'UK' 'St. Louis, MO'
 'Walker County, Alabama' 'Australia' 'North Carolina' 'Norf Carolina'
 'San Mateo County, CA' 'Njoro, Kenya' "Your Sister's Bedroom"
 'Arlington, TX' 'South Bloomfield, OH' 'New Hanover County, NC'
 'Maldives' 'Manchester, NH' 'Wilmington, NC' 'global'
 'Alberta | Sask. | Montana' 'Charlotte' 'Baton Rouge, LA'
 'Hagerstown, MD' 'Gloucestershire , UK' 'Nairobi, Kenya'
 'Instagram - @heyimginog ' '304' 'Switzerland' 'US'
 'Somewhere Only We Know ?' 'Belgium' 'dope show' 'Oshawa, Canada'
 'Baker City Oregon' 'United States' 'marysville ca ' 'Hermosa Beach, CA'
 '19.600858, -99.047821' 'Pennsylvania' 'Salt Lake City, Utah'
 'Palo Alto, CA' 'Spain but Opa-Locka, FL' 'Jaipur, India'
 'Hyderabad Telangana INDIA' 'Eagle Pass, Texas' 'bangalore'
 'Financial News and Views' 'Indonesia' 'y(our) boyfriends legs '
 'New Mexico, USA' 'Somewhere Out There' 'Mumbai india' 'sri lanka'
 'Not a U.S resident' 'Lehigh Valley, PA' 'Canada' 'Thrissur' 'Havenford'
 '92' 'Israel' 'Fashion Heaven. IG: TMId_' 'San Francisco, CA' 'italy'
 'nyc' 'Toronto' 'Jackson' 'New York / Worldwide' 'New Orleans, LA'
 'West Wales' 'Happily Married with 2 kids ' 'Cambridge, MA' 'Arizona ']
3342

In [10]:
ds.location.fillna(value='nd.', inplace=True)

In [11]:
print(ds[ds.location=='nd.'].groupby('target').count())
print()
print(ds[ds.location!='nd.'].groupby('target').count())

keyword  location  text
target
0          1439      1439  1439
1          1033      1033  1033

        keyword  location  text
target
0          2884      2884  2884
1          2196      2196  2196

In [12]:
ds.drop('location', axis=1, inplace=True)

In [13]:
ds.tail()

      keyword                                               text  target
7578  wrecked   @jt_ruff23 @cameronhacker and I wrecked you both       0
7579  wrecked  Three days off from work and they've pretty mu...       0
7580  wrecked  #FX #forex #trading Cramer: Iger's 3 words tha...       0
7581  wrecked  @engineshed Great atmosphere at the British Li...       0
7582  wrecked  Cramer: Iger's 3 words that wrecked Disney's s...       0

In [14]:
ds.reset_index(drop=True, inplace=True)

## preprocessing

In [18]:
!python -m spacy download en_core_web_sm

Collecting en_core_web_sm==2.0.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz (37.4 MB)
Building wheels for collected packages: en-core-web-sm
  Building wheel for en-core-web-sm (setup.py): started
  Building wheel for en-core-web-sm (setup.py): finished with status 'done'
  Created wheel for en-core-web-sm: filename=en_core_web_sm-2.0.0-py3-none-any.whl size=37405980 sha256=0475987606d566b8bb578c09d8131b2812ea3c658ecd7560f4c0faf29ad5252a
  Stored in directory: C:\Users\samuel\AppData\Local\Temp\pip-ephem-wheel-cache-p41edwdq\wheels\51\df\77\250d8a622c7fc066a42ea4238279337e4a5e04c2602c448ea5
Successfully built en-core-web-sm
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-2.0.0

    Error: Couldn't link model to 'en_core_web_sm'
    Creating a symlink in spacy/data failed. Make sure you have the required
    permissions and try re-running the command as admin, or use a
    virtualenv. You can still import the model as a module and call its
    load() method, or create the symlink manually.

    C:\Anaconda\lib\site-packages\en_core_web_sm -->
    C:\Anaconda\lib\site-packages\spacy\data\en_core_web_sm


    Creating a shortcut link for 'en' didn't work (maybe you don't have
    admin permissions?), but you can still load the model via its full
    package name: nlp = spacy.load('{name}')
    Download successful but linking failed

In [19]:
import en_core_web_sm
nlp = en_core_web_sm.load()

In [27]:
from spacy.lang.en.stop_words import STOP_WORDS

In [52]:
POS = 6002
tokens = nlp(ds.text[POS])
print(ds.target[POS], tokens)
[token.lemma_ for token in tokens if token.lemma_ not in STOP_WORDS]

# virer les lettres seules, les nombres, les '-:', les http(s)://xxxx

1 Oil and Gas Exploration Takes Seismic Shift in Gabon to Somalia - Bloomberg http://t.co/bEKrPjnYHs #??????? #Somalia

['oil',
 'gas',
 'exploration',
 'seismic',
 'shift',
 'gabon',
 'somalia',
 '-',
 'bloomberg',
 'http://t.co/bekrpjnyhs',
 '#',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?',
 '#',
 'somalia']

In [49]:
POS=1003
print([w for w in ds.text[POS].split(' ') if (w[0] == '@')])
print([w for w in ds.text[POS].split(' ') if (w[0] == '#')])

# virer les @xxx renforcer les #xxxx

['@Deeeznvtzzz']
[]

### merger le keyword dans le texte ?

## Modelisation (avec ou sans preprocessing)

In [ ]:
import tensorflow as tf 
import tensorflow_datasets as tfds 
tf.__version__

In [ ]:
tf_ds = tf.data.Dataset.from_tensor_slices((ds["text"].values, ds["target"].values))

In [ ]:
for text, target in tf_ds.take(1):
  print(text, target)

In [ ]:
tf_ds = tf_ds.shuffle(len(ds))

In [ ]:
# Création d'une instance Tokenizer
tokenizer = tfds.features.text.Tokenizer()

# Nous allons tokenizer chacun des mots en elevant les doublons via l'utilisation de set()
vocabulary_set = set()
for text_tensor, _ in tf_ds:
  some_tokens = tokenizer.tokenize(text_tensor.numpy())
  vocabulary_set.update(some_tokens)

vocab_size = len(vocabulary_set)
vocab_size

In [ ]:
encoder = tfds.features.text.TokenTextEncoder(vocabulary_set)
encoder.vocab_size

In [ ]:
for example, _ in tf_ds.take(1):
  print(encoder.encode(example.numpy()))
  print(example.numpy())

In [ ]:
# Encodons maintenant tous les éléments d'un dataset
def encode(text_tensor, label):
  encoded_text = encoder.encode(text_tensor.numpy())
  return encoded_text, label

# Utilisation du fonction py_function pour encoder tout le dataset 
def encode_map_fn(text, label):
  return tf.py_function(encode, inp=[text, label], Tout=(tf.int64, tf.int64))

all_encoded_data = tf_ds.map(encode_map_fn)

In [ ]:
# Train Test Split
TAKE_PROP = 0.7
TAKE_SIZE = int(0.7 * len(ds))

train_data = all_encoded_data.skip(TAKE_SIZE).shuffle(len(ds))
train_data = train_data.padded_batch(16,  padded_shapes=([-1], []))

test_data = all_encoded_data.take(TAKE_SIZE)
test_data = test_data.padded_batch(16, padded_shapes=([-1], []))

In [ ]:
for review, star in train_data.take(1):
  print(review, star)

In [ ]:
model = tf.keras.Sequential([
                  # Couche d'Input Word Embedding           
                  tf.keras.layers.Embedding(encoder.vocab_size+1, 64),

                  # Couche LSTM Bidirectionnelle
                  tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64, return_sequences=True)),

                  # Couche CNN
                  tf.keras.layers.Conv1D(16, 3, activation="relu"),
                  
                  # Nouvelle couche LSTM
                  tf.keras.layers.LSTM(32, return_sequences=False),               

                  # Couche Dense classique 
                  tf.keras.layers.Dense(64, activation='relu'),
                  tf.keras.layers.Dense(32, activation='relu'),
                  tf.keras.layers.Dense(16, activation='relu'),
                  tf.keras.layers.Dense(8, activation='relu'),

                  # Couche de sortie avec le nombre de neurones en sortie égale au nombre de classe avec fonction softmax
                  tf.keras.layers.Dense(5, activation="softmax")                                      
])

In [ ]:
model.summary()

In [ ]:
# Créons un learning rate schedule pour décroitre le learning rate à mesure que nous entrainons le modèle 
initial_learning_rate = 0.0001

lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate,
    decay_steps=1000,
    decay_rate=0.96,
    staircase=True)

# Utilisation d'un compileur simple avec un optimiseur Adam pour le calcul de nos gradients 
optimizer= tf.keras.optimizers.Adam(
    learning_rate = lr_schedule
)

model.compile(optimizer=optimizer,
              loss=tf.keras.losses.SparseCategoricalCrossentropy(),
              metrics=tf.keras.metrics.SparseCategoricalAccuracy())

In [ ]:
# Entrainement du modèle 
history = model.fit(train_data, epochs=40, validation_data=test_data)

In [ ]:
for example, _ in test_data.take(1):
  for sents, label, pred in zip(example, _, model.predict_classes(example)):
    print(encoder.decode(sents), label, pred)

In [ ]:
import matplotlib.pyplot as plt

# Visualisation du processus d'entrainement sur la loss function 
plt.plot(history.history["loss"], color="b")
plt.plot(history.history["val_loss"], color="r")
plt.ylabel("loss")
plt.xlabel("Epochs")
plt.show()

In [ ]:
# Visualisation de l'entrainement sur l'accuracy 
plt.plot(history.history["sparse_categorical_accuracy"], color="b")
plt.plot(history.history["val_sparse_categorical_accuracy"], color="r")
plt.ylabel("accuracy")
plt.xlabel("Epochs")
plt.show()